<NavMenu>
    <NavLink class="nav-link" href="">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="productos">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Productos
    </NavLink>
</NavMenu>

<NavLink class="nav-link href="tutorial">
    <span class="oi oi-book" aria-hidden="true"></span> Tutorial
</NavLink>
